.projects__sec {
  padding: 16.1rem 0;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 2.4rem;
  width: 100%;
  /* padding: ; */
}
